<div
  class="col-7"
  id="dashboard-tweets"
  data-controller="dashboard-tweets tweet-polling"
  data-latest-tweet-id="<%= @tweet_activities_data[:tweet_activities]&.first&.id %>"
  data-next-page="<%= @tweet_activities_data[:next_page] %>"
  data-last-page="<%= @tweet_activities_data[:last_page] %>"
>
  <div class="mb-3">
    <%= link_to "Home", root_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>

  <div class="mb-4">
    <%= render "shared/tweet_form", form_submit_path: tweets_path, button_label: "Tweet" %>
  </div>

  <div id="tweets">
    <%= render "dashboard/tweets", tweet_activities_data: @tweet_activities_data %>
  </div>
</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>