<div class="container mt-3">
  <div class="row align-items-start">
    <div class="col side-navbar">
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2 px-3", id: "twitter-logo-link" do %>
        <div class="rounded-circle p-2">
          <%= image_tag "twitter.png", width: "32" %>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "home-black.png", width: "32" %></span>
          <span>Home</span>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "hashtag.png", width: "32" %></span>
          <span>Explore</span>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "notification.png", width: "32" %></span>
          <span>Notifications</span>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "messages-white.png", width: "32" %></span>
          <span>Messages</span>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "bookmark-white.png", width: "32" %></span>
          <span>Bookmarks</span>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
        <div class="rounded-pill px-4 py-2">
          <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "user-white.png", width: "32" %></span>
          <span>Profile</span>
        </div>
      <% end %>

      <div class="d-flex align-items-center fs-5 mb-3 px-4">
        <%= button_tag "Tweet", class: "btn btn-twitter btn-lg rounded-pill w-100" %>
      </div>

      <div class="d-flex align-items-center fs-6 px-4">
        <%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "twitter-link" %>
      </div>
    </div>
    <div class="col-7">
      <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
        <%= f.text_field :body %>
        <%= f.submit %>
      <% end %>

      <ul>
        <% Tweet.find_each do |tweet| %>
          <li><%= tweet.body %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>