<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="d-flex py-4 px-4 tweet">
    <div class="flex-shrink-0">
      <%= image_tag tweet_presenter.avatar, size: "48x48", class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-1"><span class="fw-bolder"><%= tweet_presenter.display_name %></span> <span class="text-secondary">@<%= tweet_presenter.username %> . <%= tweet_presenter.created_at %></span></p>
      <p class="mb-0"><%= tweet_presenter.body %></p>
    </div>
  </div>
<% end %>