<div class="col-7">
  <div class="mb-3">
    <%= link_to "Notifications", notifications_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div>
    <% @notifications.each do |notification| %>
      <% if notification.follow? %>
        <div class="d-flex">
          <% if notification.actor.avatar.present? %>
            <%= image_tag current_user.avatar, size: "48x48", class: "rounded-circle" %>
          <% else %>
            <%= image_tag "user.png", size: "48x48", class: "rounded-circle" %>
          <% end %>
        </div>
        <p><span class="fw-bold"><%= notification.actor.display_name %></span> followed you</p>
      <% elsif notification.liked? %>
        <div class="d-flex"></div>
      <% elsif notification.metioned? %>
        <div class="d-flex"></div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>