<div class="col-7">
  <div class="mb-3">
    <div class="mb-5">
      <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
        <%= image_tag 'back.png', size: "28x28", class: "me-2" %>
        <span style="position: relative; top: 2px;"><%= @user.username %></span>
        <span class="text-muted fs-6" style="position: relative; top: 2px;"><%= @user.tweets.size %> Tweets</span>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar, size: "150x150", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "user.png", size: "150x150", class: "rounded-circle" %>
        <% end %>
      </div>

      <div>
        <% if controller_name == "profile" %>
          <%= button_tag 'Edit Profile', data: { "bs-toggle": "modal", "bs-target": "#profile-edit-modal" }, class: "btn btn-twitter-outline rounded-pill" %>
        <% else %>
          <%= render "users/follow_button", user: @user, current_user: %>
        <% end %>
      </div>
    </div>

    <div id="profile-section">
      <%= render "users/profile_section", user: @user %>
    </div>

    <div id="tweets">
      <%= render partial: "tweets/tweet", collection: @tweet_presenters, as: :tweet_presenter %>
    </div>
  </div>
</div>
<div class="col">
  One of three columns
</div>

<% if controller_name == "profile" %>
  <!-- Modal -->
  <div class="modal" id="profile-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with model: current_user, url: profile_path, method: :put, class: "row g-3", data: { controller: 'tweet-form' } do |f| %>
            <div class="col-md-12 mb-1">
              <%= f.label :username, class: "form-label" %>
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-1">
              <%= f.label :display_name, class: "form-label" %>
              <%= f.text_field :display_name, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-1">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-1">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-1">
              <%= f.label :bio, class: "form-label" %>
              <%= f.text_area :bio, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-1">
              <%= f.label :location, class: "form-label" %>
              <%= f.text_field :location, class: "form-control" %>
            </div>
            <div class="col-md-12 mb-3">
              <%= f.label :profile_url, "URL", class: "form-label" %>
              <%= f.text_field :profile_url, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.submit "Update Profile", class: "btn btn-twitter rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
