<div class="col-7">
  <div class="mb-3">
    <div class="mb-5">
      <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
        <%= image_tag 'back.png', size: "28x28", class: "me-2" %>
        <span style="position: relative; top: 2px;"><%= @user.username %></span>
        <span class="text-muted fs-6" style="position: relative; top: 2px;"><%= @user.tweets.size %> Tweets</span>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar, size: "150x150", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "user.png", size: "150x150", class: "rounded-circle" %>
        <% end %>
      </div>

      <div>
        <%= render "follow_button", user: @user, current_user: %>
      </div>
    </div>

    <div id="profile-section">
      <%= render "profile/profile_section", user: @user %>
    </div>
  </div>
</div>
<div class="col">
  One of three columns
</div>
