<aside class="col side-navbar">
  <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2 px-3", id: "twitter-logo-link" do %>
    <div class="rounded-circle p-2">
      <%= image_tag "twitter.png", width: "32" %>
    </div>
  <% end %>

  <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('dashboard')}" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "home-white.png", width: "32" %></span>
      <span>Home</span>
    </div>
  <% end %>

  <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "hashtag.png", width: "32" %></span>
      <span>Explore</span>
    </div>
  <% end %>

  <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "notification.png", width: "32" %></span>
      <span>Notifications</span>
    </div>
  <% end %>

  <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "messages-white.png", width: "32" %></span>
      <span>Messages</span>
    </div>
  <% end %>

  <%= link_to bookmarks_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('bookmarks')}" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "bookmark-white.png", width: "32" %></span>
      <span>Bookmarks</span>
    </div>
  <% end %>

  <%= link_to profile_path, class: "d-flex align-items-center fs-5 mb-2 #{nav_link_active?('profile')}" do %>
    <div class="rounded-pill px-4 py-2">
      <span class="me-2 position-relative" style="bottom: 3px;"><%= image_tag "user-white.png", width: "32" %></span>
      <span>Profile</span>
    </div>
  <% end %>

  <div class="d-flex align-items-center fs-5 mb-3 px-4">
    <%= button_tag "Tweet", class: "btn btn-twitter btn-lg rounded-pill w-100", data: { "bs-toggle": "modal", "bs-target": "#tweetModal" } %>
  </div>

  <div class="d-flex align-items-center fs-6 px-4">
    <%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "twitter-link" %>
  </div>
</aside>

<!-- Modal -->
<div class="modal" id="tweetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form", form_submit_path: tweets_path, button_label: "Tweet" %>
      </div>
    </div>
  </div>
</div>