<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Twitter Clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path("twitter.png") %>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <%= render "shared/flashes" %>
    <% end %>
    <% if user_signed_in? %>
      <% if controller_name == "usernames" %>
        <%= yield %>
      <% else %>
        <div class="container py-2 vh-100">
          <div class="row">
            <%= render "shared/sidebar" %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
